

<div class="section-footer">
    <div class="container">
        <div class="footer-content">
            <div class="row">
                {%- for block in section.blocks -%}
                    {%- case block.type -%}
                        {%- when 'block-link' -%}
                            <div class="col-md-2">
                                <h2>{{block.settings.title}}</h2>
                                <div class="list-item">
                                    <ul>
                                        {% for link in linklists[block.settings.link_menu].links %}
                                            <li><a class="menu-link" href="{{ link.url }}">{{ link.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                        {%- when 'block-needhelp' -%}
                            <div class="col-md-4">
                                <h2>{{block.settings.title}}</h2>
                                <h3>{{block.settings.title_h3}}</h3>
                                {{block.settings.time_work}}
                                <a href="" class="contact">{{block.settings.contact}}</a>
                            </div>


                        {%- when 'block-location' -%}
                            <div class="col-md-2">
                                <h2>{{block.settings.title}}</h2>
                                <p>{{block.settings.address}}</p>
                                <a href="" class="showmap">Show on map</a>
                                <div class="topbar-column network">
                                    <a class="network-link" href="{{settings.link_facebook}}">{{settings.icon_facebook}}</a>
                                    <a class="network-link" href="{{settings.link_instagram}}">{{settings.icon_instagram}}</a>
                                    <a class="network-link" href="{{settings.link_youtube}}">{{settings.icon_youtube}}</a>
                                    <a class="network-link" href="{{settings.link_pinterest}}">{{settings.icon_pinterest}}</a>
                                    <a class="network-link" href="{{settings.link_linkedIn}}">{{settings.icon_LinkedIn}}</a>
                                </div>
                            </div>

                    {%- endcase -%}
                {%- endfor -%}

            </div>
        </div>
        <div class="footer-bottom">
            <div class="copyright-content">{{section.settings.copyright}}</div>
            <div class="payment">

            </div>
        </div>
    </div>
</div>









{% schema %}

{
    "name": "Footer",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "copyright",
            "label": "Copyright",
            "default": "Copyright © 2020 Mymedi. All Rights Reserved"
        }
    ],
    "blocks": [
        {
            "type": "block-link",
            "name": "Link",
            "settings": [
                {
                    "type" : "text",
                    "id" : "title",
                    "label" : {
                      "en" : "Title"
                    },
                    "default" : "Information"
                },
                {
                    "type" : "link_list",
                    "id" : "link_menu",
                    "label" : {
                    "en" : "Link Menu"
                    }
                }
            ]
        },
        {
            "type" : "block-needhelp",
            "name" : "Need Help",
            "settings" : [
                {
                    "type": "text",
                    "id" : "title",
                    "label" : {
                      "en" : "Title"
                    },
                    "default" : "Need help"
                },
                {
                    "type": "text",
                    "id" : "title_h3",
                    "label" : {
                      "en" : "Title"
                    },
                    "default" : "0020 500 - MYMEDI - 000"
                },
                {
                    "type": "richtext",
                    "id" : "time_work",
                    "label" : {
                      "en" : "Time Work"
                    },
                    "default" : "<p>Monday - Friday: 9:00-20:00</p><p>Saturady: 11:00 - 15:00</p>"
                },
                {
                    "type" : "text",
                    "id" : "contact",
                    "label" : {
                      "en" : "Contact"
                    },
                    "default" : "contact@example.com"
                }
            ]
        },
        {
            "type" : "block-location",
            "name" : "Our store",
            "settings" : [
                {
                    "type": "text",
                    "id" : "title",
                    "label" : {
                      "en" : "Title"
                    },
                    "default" : "Our store"
                },
                {
                    "type": "text",
                    "id" : "address",
                    "label" : {
                      "en" : "Address"
                    },
                    "default" : "1487 Rocky Horse Carrefour Arlington, TX 16819"
                }
            ]
        }
    ]

}
{% endschema %}