
<div class="product-feature">
    <div class="container">
        {%- if section.settings.title_product != blank -%}
            <h2>{{section.settings.title_product}}</h2>
        {%- endif -%}
        <div class="list-item">
            {%- for block in section.blocks -%}
                {%- assign collection = collections[section.settings.collection] -%}
                {%- for item in collection.products -%}
                    {%- liquid
                        assign variant_first = item.variants | first
                        assign first_available_variant = item.first_available_variant | default: variant_first
                    -%}

                    <div class="grid-item">
                            <div class="image">
                                <img src="{{ item | img_url : '197x197' }}" alt="">
                            </div>
                            <button class="add-card">{{block.settings.add_cart}}</button>
                            <div class="content">

                                {%- if item.compare_at_price_max > item.price -%}
                                    <span>
                                        -{{ item.compare_at_price | minus: item.price | times: 100.0 | divided_by: item.compare_at_price | round }}%
                                    </span>
                                {%- endif -%}

                                <h3>{{item.title}}</h3>
                                <div class="price">
                                    <div class="new-price">{{ first_available_variant.price | money }}</div>
                                    <div class="old-price">{{ first_available_variant.compare_at_price | money }}</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                    </div>

                {%- endfor -%}
            {%- endfor -%}
        </div>
    </div>
</div>





{% schema %}
{
  "name": "Product feature page",
  "tag": "section",
  "settings": [
        {
            "type": "header",
            "content": "Settings"
        },
        {
            "type" : "text",
            "id" : "title_product",
            "label" : {
                "en" : "Title"
            },
            "default" : "Featured products"
        },
        {
            "type" : "collection",
            "id" : "collection",
            "label" : {
                "en" : "Collection"
            }
        }
  ],
  "blocks": [

      {
          "type": "header",
          "name": "Product feature",
          "settings": [
                {
                    "type" : "text",
                    "id" : "add_cart",
                    "label" : {
                      "en" : "Add Cart"
                    },
                    "default" : "Add to cart"
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "Advanced layout",
            "name": "Product feature section"
        }
    ]
}

{% endschema %}