
<div class="section-product-deal">
    <div class="container">
        <div class="product-deal">
            {%- if section.settings.title_product != blank -%}
            <h2>{{section.settings.title_product}}</h2>
            {%- endif -%}
            <div id="countdown">
                <ul>
                    <li><span id="days"></span></li>
                    <li><span id="hours"></span></li>
                    <li><span id="minutes"></span></li>
                    <li><span id="seconds"></span></li>
                </ul>
            </div>
        </div>

        <ul class="controls" id="customize-controls-{{section.id}}" aria-label="Carousel Navigation" tabindex="0">
            <li class="prev" data-controls="prev" aria-controls="customize" tabindex="-1">
                <i class="fas fa-angle-left fa-5x"></i>
            </li>
            <li class="next" data-controls="next" aria-controls="customize" tabindex="-1">
                <i class="fas fa-angle-right fa-5x"></i>
            </li>
        </ul>

        <div class="my-slider-{{section.id}} list-product">
            {%- for block in section.blocks -%}
                {%- assign collection = collections[block.settings.collection] -%}
                {%- for item in collection.products -%}
                    {%- render 'product', block: block , item: item, idSection: {{section.id}} , idTagSale : {{section.id}} -%}
                {%- endfor -%}
            {%- endfor -%}
        </div>
    </div>
</div>



<script>

(function() {
     const slider = tns({
    container: '.my-slider-{{section.id}}',
    loop: true,
    items: 5,
    slideBy: 'page',
    nav: false,
    autoplay: false,
    speed: 400,
    autoplayButtonOutput: false,
    mouseDrag: true,
    controlsContainer: "#customize-controls-{{section.id}}",
    responsive: {
        320: {
            items: 2,
        },
        375: {
            items: 2,
        },

        768: {
            items: 5,
        }
    }

  });
})();

</script>




<script>

(function () {
    const second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24;

    let a = "May 31, 2021 00:00:00",
        countDown = new Date(a).getTime(),
        x = setInterval(function() {

        let now = new Date().getTime(),
            distance = countDown - now;

        document.getElementById("days").innerText = Math.floor(distance / (day)),
        document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
        document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
        document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);

        if (distance < 0) {
            let countdown = document.getElementById("countdown")
            countdown.style.display = "none";
            clearInterval(x);
        }

    }, 0)
}());

</script>





{% schema %}
{
  "name": "Product deals page",
  "tag": "section",
  "settings": [
      {
          "type": "header",
          "content": "Settings"
      },
      {
          "type" : "text",
          "id" : "title_product",
          "label" : {
              "en" : "Title"
          },
          "default" : "Best Deals of the week!"
      }
  ],
  "blocks": [

      {
          "type": "header",
          "name": "Product Deal",
          "settings": [
              {
                  "type" : "text",
                  "id" : "sale",
                  "label" : {
                    "en" : "Sale"
                  },
                  "default" : "Sale"
              },
              {
                  "type" : "text",
                  "id" : "pcs",
                  "label" : {
                    "en" : "Title Pcs"
                  },
                "default" : "No of pcs available"
              },
              {
                  "type" : "text",
                  "id" : "number",
                  "label" : {
                    "en" : "Number"
                  },
                  "default" : "10"
              },
              {
                    "type" : "text",
                    "id" : "add_cart",
                    "label" : {
                      "en" : "Add Cart"
                    },
                    "default" : "Add to cart"
                },
              {
                  "type" : "collection",
                  "id" : "collection",
                  "label" : {
                    "en" : "Collection"
                  }
              }
          ]
      }
  ],
  "presets": [
      {
          "category": "Advanced layout",
          "name": "Product deals section"
      }
  ]
}
{% endschema %}