
<div class="section-product">
    <div class="container">
        {%- if section.settings.title_product != blank -%}
            <h2>{{section.settings.title_product}}</h2>
        {%- endif -%}

        <ul class="controls" id="customize-controls-{{section.id}}" aria-label="Carousel Navigation" tabindex="0">
            <li class="prev" data-controls="prev" aria-controls="customize" tabindex="-1">
                <i class="fas fa-angle-left fa-5x"></i>
            </li>
            <li class="next" data-controls="next" aria-controls="customize" tabindex="-1">
                <i class="fas fa-angle-right fa-5x"></i>
            </li>
        </ul>

        <div class="my-slider-{{section.id}} list-product">
            {%- for block in section.blocks -%}
                {%- assign collection = collections[block.settings.collection] -%}
                {%- for item in collection.products -%}
                    {%- liquid
                        assign variant_first = item.variants | first
                        assign first_available_variant = item.first_available_variant | default: variant_first
                    -%}
                        <a class="slider-item product-item">
                            <div class="product-img">
                                <img src="{{ block.settings.image | img_url : '197x197' }}" alt="">
                            </div>
                            <div class="content">
                                <span>{{block.settings.sale}}</span>
                                <h3>{{block.settings.title}}</h3>
                                <div class="price">
                                    <div class="new-price">{{ first_available_variant.price | money }}</div>
                                    <div class="old-price">{{ first_available_variant.compare_at_price | money }}</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </a>
                {%- endfor -%}
            {%- endfor -%}
        </div>

    </div>
</div>




<script>

(function() {
     const slider = tns({
    container: '.my-slider-{{section.id}}',
    loop: true,
    items: 5,
    slideBy: 'page',
    nav: false,
    autoplay: false,
    speed: 400,
    autoplayButtonOutput: false,
    mouseDrag: true,
    controlsContainer: "#customize-controls-{{section.id}}",
    responsive: {
        640: {
            items: 2,
        },

        768: {
            items: 5,
        }
    }

  });
})();


</script>




{% schema %}
{
    "name": "Product page",
    "tag": "section",
    "settings": [
        {
            "type": "header",
            "content": "Settings"
        },
        {
            "type" : "text",
            "id" : "title_product",
            "label" : {
                "en" : "Title"
            },
            "default" : "Latest products"
        }
    ],
    "blocks": [

        {
            "type": "header",
            "name": "Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id" : "image",
                    "label" : {
                        "en" : "Banner"
                    }
                },
                {
                    "type" : "text",
                    "id" : "sale",
                    "label" : {
                      "en" : "Sale"
                    },
                    "default" : "Sale"
                },
                {
                    "type" : "text",
                    "id" : "title",
                    "label" : {
                      "en" : "Title"
                    },
                    "default" : "Extractor used to remove teeth"
                },
                {
                    "type" : "collection",
                    "id" : "collection",
                    "label" : {
                      "en" : "Collection"
                    }
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "Advanced layout",
            "name": "Product section"
        }
    ]
}
{% endschema %}