
<div class="section-product">
    <div class="container">
        {%- if section.settings.title_product != blank -%}
            <h2>{{section.settings.title_product}}</h2>
        {%- endif -%}
        <div class="swiper-container">
            <div class="swiper-wrapper list-product">
                {%- for block in section.blocks -%}
                    {%- assign collection = collections[block.settings.collection] -%}
                    {%- for item in collection.products -%}
                        {%- liquid
                            assign variant_first = item.variants | first
                            assign first_available_variant = item.first_available_variant | default: variant_first
                        -%}
                        <a class="swiper-slide product-item">
                            <div class="product-img">
                                <img src="{{ block.settings.image | img_url : '197x197' }}" alt="">
                            </div>
                            <div class="content">
                                <span>{{block.settings.sale}}</span>
                                <h3>{{block.settings.title}}</h3>
                                <div class="price">
                                    <div class="new-price">{{ first_available_variant.price | money }}</div>
                                    <div class="old-price">{{ first_available_variant.compare_at_price | money }}</div>
                                </div>
                                <div class="rating"></div>
                            </div>
                        </a>
                    {%- endfor -%}
                {%- endfor -%}
            </div>

            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>



<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 5,
      spaceBetween: 0,
      slidesPerGroup: 1,
      loop: true,
      loopFillGroupWithBlank: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>






{% schema %}
{
    "name": "Product page",
    "tag": "section",
    "settings": [
        {
            "type": "header",
            "content": "Settings"
        },
        {
            "type" : "text",
            "id" : "title_product",
            "label" : {
                "en" : "Title"
            },
            "default" : "Latest products"
        }
    ],
    "blocks": [

        {
            "type": "header",
            "name": "Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id" : "image",
                    "label" : {
                        "en" : "Banner"
                    }
                },
                {
                    "type" : "text",
                    "id" : "sale",
                    "label" : {
                      "en" : "Sale"
                    },
                    "default" : "Sale"
                },
                {
                    "type" : "text",
                    "id" : "title",
                    "label" : {
                      "en" : "Title"
                    },
                    "default" : "Extractor used to remove teeth"
                },
                {
                    "type" : "collection",
                    "id" : "collection",
                    "label" : {
                      "en" : "Collection"
                    }
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "Advanced layout",
            "name": "Product section"
        }
    ]
}
{% endschema %}