
<div class="section-blog">
    <div class="container">
    {%- for block in section.blocks -%}
        <h2>{{section.settings.title}}</h2>

        <ul class="controls" id="customize-controls-{{section.id}}" aria-label="Carousel Navigation" tabindex="0">
            <li class="prev" data-controls="prev" aria-controls="customize" tabindex="-1">
                <i class="fas fa-angle-left fa-5x"></i>
            </li>
            <li class="next" data-controls="next" aria-controls="customize" tabindex="-1">
                <i class="fas fa-angle-right fa-5x"></i>
            </li>
        </ul>

        <div class="blog my-slider-{{section.id}}">
            {% assign blog = blogs[block.settings.blog] %}
            {%- for item in blog.articles -%}
                <a href="{{ item.url }}">
                    <div class="blog-item slider-item">
                        <div class="image">
                            <img src="{{ item.image | img_url:'master' }}" alt="">
                        </div>
                        {%- for tag in blog.tags -%}
                             <div class="tag"><span>{{ tag }}</span></div>
                        {%- endfor -%}

                        <div class="text">{{item.title}}</div>
                        <div class="organization">
                            <div class="time">{{item.created_at}}</div>
                            <div class="author">{{item.author}}</div>
                        </div>
                    </div>
                </a>
            {%- endfor -%}
        </div>
    {%- endfor -%}

    </div>
</div>






<script>

(function() {
     const slider = tns({
    container: '.my-slider-{{section.id}}',
    loop: true,
    items: 3,
    gutter: 32,
    slideBy: 'page',
    autoplay: false,
    speed: 400,
    autoplayButtonOutput: false,
    mouseDrag: true,
    nav: true,
    navPosition: "bottom",
    controlsContainer: "#customize-controls-{{section.id}}",
    responsive: {
        320: {
            items: 2,
        },
        375: {
            items: 2,
        },

        768: {
            items: 3,
        }
    }

  });
})();


</script>







{% schema %}

    {
        "name": "Blog",
        "tag": "section",
        "settings" : [
            {
                "type" :"header",
                "content": "Custom information"
            },
            {
                "type" : "text",
                "id" : "title",
                "label" : {
                  "en" : "Title"
                },
                "default" : "From the blog"
            }
        ],
        "blocks":[
            {
                "type": "item-blog",
                "name": "Item Blog",
                "settings":[
                    {
                        "type" : "blog",
                        "id" : "blog",
                        "label" : {
                          "en" : "Blog"
                        }
                    }
                ]
            }
        ],
        "presets": [
            {
                "category": "Advanced layout",
                "name": "Blog section"
            }
        ]
    }

{% endschema %}